.js-age-gate-active, .age-gate--visible {
  body {
	  height: 100%;
    overflow: hidden;
  }
  .nav {
    opacity: 0;
  }
}
.js-age-gate-active .age-gate,
.age-gate.age-gate--visible {
  visibility: visible;
  opacity: 1;
}
.age-gate {
  transition: opacity var(--duration) var(--ease);
  visibility: hidden;
  opacity: 0;
}
.age-gate__background {}
.age-gate__overlay {
  background: rgba(0, 0, 0, 0.8);
}
.age-gate__inner {
  max-width: 24em;
  @media (--m) {
    max-width: 32em;
  }
}
.age-gate__logo {
  img {
    width: 200px;
    @media (--m) {
      width: 300px;
    }
  }
}
.age-gate__title {}
.age-gate__lead {}
.age-gate__ctas {}
.age-gate__footer {
  color: rgba(255, 255, 255, 0.3);
  a {
    text-decoration: underline;
    transition: all var(--duration) var(--ease);
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}
