/* example img holder */
.img-holder {
  position: relative;
  width: 600px;

  &::before {
    content: '';
    display: block;
    padding-bottom: calc(287/510 * 100%);
    width: 100%;
  }
}
/* remove example */

.img,
.img__el {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.img {
  overflow: hidden;

  &.fit-cover {
    .img__el {
      object-fit: cover;
    }

    .img__el--ie {
      background-size: cover;
    }
  }

  &.fit-contain {
    .img__el {
      object-fit: contain;
    }

    .img__el--ie {
      background-size: contain;
    }
  }

  &.fit-width {
    .img__el {
      bottom: auto;
      height: auto;
    }
  }

  &.pos-center {
    .img__el {
      object-position: center;
    }

    .img__el--ie {
      background-position: center center;
    }
  }

  &.pos-top {
    .img__el {
      object-position: top;
    }

    .img__el--ie {
      background-position: center top;
    }
  }

  &.pos-bottom {
    .img__el {
      object-position: bottom;
    }

    .img__el--ie {
      background-position: center bottom;
    }
  }

  &.is-loaded {
    .img__el {
      opacity: 1;
      visibility: visible;
    }

    .img__loader {
      opacity: 0;
      visibility: hidden;
    }
  }

  &.is-updating{
    display: none;
  }

  .img__el {
    &.is-fallback {
      opacity: 1;
      visibility: visible;
    }
  }
}

.img__el {
  opacity: 0;
  transition: opacity var(--duration) var(--ease), opacity var(--duration) var(--ease);
  visibility: hidden;
  z-index: 2;

  &.img__el--ie {
    background-position: center;
    background-repeat: no-repeat;

    /* For Vue transitions */
    &[data-fit="cover"] {
      background-size: cover !important;
    }
    &[data-fit="contain"] {
      background-size: contain !important;
    }
  }

  /* For Vue transitions */
  &.fade-enter,
  &.fade-leave-to {
    opacity: 0 !important;
  }
  &.fade-enter {
    z-index: 1;
  }
  &[data-fit="cover"] {
    object-fit: cover !important;
  }
  &[data-fit="contain"] {
    object-fit: contain !important;
  }
}

.img__loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
