<section class="age-gate age-gate--visible align-c black">
  <div class="age-gate__inner abs fit mxa f fdc jcc aic">
    <div class="age-gate__logo">
      <img src="{{ 'logo.png' | asset_url }}" alt="logo">
    </div>
    <h2 class="age-gate__title ">{{- 'general.age_gate.denied' | t -}}</h2>
    <p class="age-gate__lead">{{- 'general.age_gate.denied_message' | t -}}</p>
  </div>
</section>
