<div is="account-recover-form" inline-template>
  <div @submit="validate" v-if="active" class="container container--xs">

    {%- assign title = 'customer.recover_password.title' | t -%}
    {% include 'page-title', title: title %}
    {%- assign title = nil -%}

    {% form 'recover_customer_password', class: 'mha' %}

      {%- if form.posted_successfully? -%}
        <div class="form-row">
          <p class="p bold">{{ 'customer.login.reset_success' | t }}</p>
        </div>
      {%- else -%}
        {% include 'form-errors', errors: form.errors %}

        <div class="form-row">
          <p class="p">{{ 'customer.recover_password.subtext' | t }}</p>
        </div>

        <div class="form-row">
          {%- assign placeholder = 'customer.recover_password.email' | t -%}
          {% include 'text-input' with
              name: 'customer[email]',
              type: 'email',
              placeholder:  placeholder,
              required: true %}
          {%- assign placeholder = nil -%}
        </div>

        <div class="form-row">
          {%- assign value = 'customer.recover_password.submit' | t -%}
          {% include 'submit-button', value: value, type: 'submit' %}
          {%- assign value = nil -%}
        </div>

        <div class="form-row">
          <p class="p"><a href="javascript:void(0)" class="underline" @click="$parent.changeForm('login')">{{ 'customer.recover_password.cancel' | t }}</a></p>
        </div>
      {%- endif -%}
    {%- endform -%}
  </div>
</div>
