{%- assign is_vue = is_vue | default: false -%}
{%- assign show_button = show_button | default: true -%}
{%- assign text = text | default: "This is an empty view!" -%}
{%- assign image_src = 'https://cdn.shopify.com/s/files/1/2403/8187/files/empty-cart-hyman-moscot_9d52906e-7897-4813-b7df-1f2f440e8dd5.gif?14710866549272581570' -%}

<div class="empty-view align-c bg-parchment">
  <div class="empty-view__image ratio">
    {%- if is_vue -%}
      <div
        css="fit-contain"
        fit="contain"
        is="vue-image"
        src="{{image_src}}"
        alt="Empty view image"></div>
    {%- else -%}
      {%- include 'image', src: image_src, fit: 'contain' -%}
    {%- endif -%}
  </div>
  <h5 class="empty-view__title h5">{{text}}</h5>
  {%- if show_button -%}
  <a class="button empty-view__button" href="/">Shop Now</a>
  {%- endif -%}
</div>

{%- assign is_vue = nil -%}
{%- assign image_src = nil -%}
{%- assign show_button = nil -%}
