<div is="account-reset-form" inline-template>
  <div @submit="validate" class="container container--xs">

    {%- assign title = 'customer.reset_password.title' | t -%}
    {% include 'page-title', title: title %}
    {%- assign title = nil -%}

    {% form 'reset_customer_password' %}

      {% include 'form-errors', errors: form.errors %}

      <div class="form-row">
        {%- assign placeholder = 'customer.reset_password.password' | t -%}
        {% include 'text-input' with
          name: 'customer[password]',
          type: 'password',
          placeholder: placeholder %}
        {%- assign placeholder = nil -%}
      </div>

      <div class="form-row">
        {%- assign placeholder = 'customer.reset_password.confirm_password' | t -%}
        {% include 'text-input' with
          name: 'customer[password_confirmation]',
          type: 'password',
          placeholder: placeholder %}
        {%- assign placeholder = nil -%}
      </div>

      <div class="form-row">
        {%- assign value = 'customer.reset_password.submit' | t -%}
        {% include 'submit-button', value: value, type: 'submit' %}
        {%- assign value = nil -%}
      </div>
    {% endform %}
  </div>
</div>
